.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ProfileBox.css */

.profile-box {
  align-self: flex-end;
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.profile-icon {
  font-size: 24px;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

/* Form styles */
h2 {
  font-size: 24px; /* Set the font size */
  font-family: Arial, sans-serif; /* Set the font family */
  color: #0e0e0e; /* Set the text color */
  margin-top: 10px; /* Set the top margin */
  margin-bottom: 10px; /* Set the bottom margin */
  padding: 0; /* Remove any padding */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.or-separator {
  font-size: 20px; /* Set the font size */
  font-family: Arial, sans-serif; /* Set the font family */
  color: #0e0e0e; /* Set the text color */
  margin-top: 10px; /* Set the top margin */
  margin-bottom: 10px; /* Set the bottom margin */
  padding: 0; /* Remove any padding */
}

/*Details page css */
.details-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: "row";
  gap: 100px;
}

.details-menu {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.details-table {
  display: flex;
  border-collapse: collapse;
  width: 100%;
  flex-direction: column;
}

.details-table th,
.details-table td {
  padding-right: 150px;
  border: 1px solid #ddd; /* Outline for each cell */
  width: 200px;
  white-space: wrap;
}

.details-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Background color for even rows */
}
.detais-table th {
  text-align: left;
  background-color: #231717; /* Background color for header */
}

body,
html {
  margin: 0;
  padding: 0;
}
